<?xml version="1.0" encoding="utf-8"?>
<svg viewBox="0 0 1080 1080" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:bx="https://boxy-svg.com">
  <defs>
    <clipPath id="clip0_309_52">
      <rect width="1080" height="1080" fill="white"/>
    </clipPath>
    {{!-- COINS LOGOS TOP 1 TO 10 --}}
    <pattern id="pattern-1" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.1.icon}}"/>
    </pattern>
    <pattern id="pattern-2" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.2.icon}}"/>
    </pattern>
    <pattern id="pattern-3" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.3.icon}}"/>
    </pattern>
    <pattern id="pattern-4" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.4.icon}}"/>
    </pattern>
    <pattern id="pattern-5" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.5.icon}}"/>
    </pattern>
    <pattern id="pattern-6" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.6.icon}}"/>
    </pattern>
    <pattern id="pattern-7" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.7.icon}}"/>
    </pattern>
    <pattern id="pattern-8" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.8.icon}}"/>
    </pattern>
    <pattern id="pattern-9" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.9.icon}}"/>
    </pattern>
    <pattern id="pattern-10" patternContentUnits="objectBoundingBox" width="1" height="1" patternTransform="matrix(1, 0, 0, 1, 0, 0)">
      <image width="64" height="64" transform="matrix(0.015625, 0, 0, 0.015625, 0, 0)" xlink:href="{{data.10.icon}}"/>
    </pattern>
    <style bx:fonts="Inter">@import url(https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C100%3B0%2C200%3B0%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&amp;display=swap);</style>
    <style bx:fonts="Fredoka One">@import url(https://fonts.googleapis.com/css2?family=Fredoka+One%3Aital%2Cwght%400%2C400&amp;display=swap);</style>
  </defs>
  <g clip-path="url(#clip0_309_52)">
    <rect width="1080" height="1080" fill="#232323" x="-1.409" y="-1.244" style="">
      <title>background</title>
    </rect>
    <g>
      <title>header</title>
      <text style="fill: rgb(217, 217, 217); font-family: &quot;Fredoka One&quot;; font-size: 32px; letter-spacing: 2.3px; white-space: pre;" x="306.612" y="67.977">TOP 10 BEST COINS TODAY</text>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 27.6px; white-space: pre;" x="117.845" y="145.6">Crypto</text>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 27.6px; white-space: pre;" x="433.565" y="143.311">Price</text>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 27.6px; white-space: pre;" x="683.932" y="142.856">1h</text>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 27.6px; white-space: pre;" x="827.458" y="143.008">1d</text>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 27.6px; white-space: pre;" x="964.547" y="142.77">1w</text>
      <line x1="-0.006" y1="162" x2="1079.99" y2="159" stroke="#F7F7F7" stroke-width="4"/>
    </g>
    <g style="">
      <title>line</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815"><title>positionlist</title>{{data.1.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-1)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866"><title>name</title>{{data.1.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942"><title>price</title>$ {{data.1.price}}</text>
      <text style="fill: {{data.1.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"><title>1h</title> {{data.1.priceChange1h.value}}</text>
      <text style="fill: {{data.1.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"><title>1d</title> {{data.1.priceChange1d.value}}</text>
      <text style="fill: {{data.1.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"><title>1w</title> {{data.1.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 0.41271, 79.071106)">
      <title>line-2</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.2.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-2)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.2.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.2.price}}</text>
      <text style="fill: {{data.2.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.2.priceChange1h.value}}</text>
      <text style="fill: {{data.2.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.2.priceChange1d.value}}</text>
      <text style="fill: {{data.2.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.2.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 1.19265, 159.02446)">
      <title>line-3</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.3.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-3)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.3.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.3.price}}</text>
      <text style="fill: {{data.3.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.3.priceChange1h.value}}</text>
      <text style="fill: {{data.3.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.3.priceChange1d.value}}</text>
      <text style="fill: {{data.3.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.3.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 0.792461, 239.254471)">
      <title>line-4</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.4.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-4)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.4.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.4.price}}</text>
      <text style="fill: {{data.4.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.4.priceChange1h.value}}</text>
      <text style="fill: {{data.4.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.4.priceChange1d.value}}</text>
      <text style="fill: {{data.4.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.4.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 1.138906, 319.126312)">
      <title>line-5</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.5.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-5)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.5.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.5.price}}</text>
      <text style="fill: {{data.5.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.5.priceChange1h.value}}</text>
      <text style="fill: {{data.5.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.5.priceChange1d.value}}</text>
      <text style="fill: {{data.5.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.5.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 1.314866, 399.214172)">
      <title>line-6</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.6.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-6)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.6.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.6.price}}</text>
      <text style="fill: {{data.6.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.6.priceChange1h.value}}</text>
      <text style="fill: {{data.6.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.6.priceChange1d.value}}</text>
      <text style="fill: {{data.6.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.6.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 1.072618, 479.018372)">
      <title>line-7</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.7.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-7)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.7.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.7.price}}</text>
      <text style="fill: {{data.7.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.7.priceChange1h.value}}</text>
      <text style="fill: {{data.7.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.7.priceChange1d.value}}</text>
      <text style="fill: {{data.7.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.7.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 1.307665, 559.159363)">
      <title>line-8</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.8.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-8)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.8.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.8.price}}</text>
      <text style="fill: {{data.8.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.8.priceChange1h.value}}</text>
      <text style="fill: {{data.8.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.8.priceChange1d.value}}</text>
      <text style="fill: {{data.8.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.8.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 1.2184, 638.987244)">
      <title>line-9</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.9.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-9)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.9.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.9.price}}</text>
      <text style="fill: {{data.9.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.9.priceChange1h.value}}</text>
      <text style="fill: {{data.9.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.9.priceChange1d.value}}</text>
      <text style="fill: {{data.9.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.9.priceChange1w.value}}</text>
    </g>
    <g style="" transform="matrix(1, 0, 0, 1, 1.150397, 719.141602)">
      <title>line-10</title>
      <text style="fill: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 36px; white-space: pre;" x="45.257" y="222.815">{{data.10.rank}}</text>
      <rect x="116" y="182" width="56" height="56" fill="url(#pattern-10)"/>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="197.8" y="223.866">{{data.10.name}}</text>
      <text style="fill: rgb(255, 255, 255); font-family: Inter; font-size: 36px; white-space: pre;" x="435.134" y="225.942">$ {{data.10.price}}</text>
      <text style="fill: {{data.10.priceChange1h.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="661.767" y="221.422"> {{data.10.priceChange1h.value}}</text>
      <text style="fill: {{data.10.priceChange1d.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="809.134" y="220.978"> {{data.10.priceChange1d.value}}</text>
      <text style="fill: {{data.10.priceChange1w.color}}; font-family: Inter; font-size: 24px; white-space: pre;" x="947.246" y="220.671"> {{data.10.priceChange1w.value}}</text>
    </g>
  </g>
</svg>